<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles.css') }}"
    />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  </head>
  <body>
    <main class="main">
      <p class="title">CryptoMarket</p>
      <div class="flex-container">
        <div class="left">
          <div class="currency-price">
            <div class="box-one">
              <img
                class="logo"
                src=" {{ url_for('static', filename='img/' + crypto + '.png') }}"
                alt=""
              />

              {% if crypto == "BTC-USD" %}
              <p>Bitcoin</p>
              <!-- (<div class="select">
                <select name="format" class="format">
                   <option class="first-op" selected disabled  >BTC-USD</option>
                   <a href="/PLN/BTC-USD"><option value="pdf" >BTC-PLN</option></a>
                   <option value="txt">txt</option>
                   <option value="epub">ePub</option>
                   <option value="fb2">fb2</option>
                   <option value="mobi">mobi</option>
                </select>
              </div>) -->
              {% elif crypto == "ETH-USD" %}
              <p>ETHERUM (<div class="select">
                <select name="format" id="format">
                   <option selected disabled>Choose a book format</option>
                   <option value="pdf">PDF</option>
                   <option value="txt">txt</option>
                   <option value="epub">ePub</option>
                   <option value="fb2">fb2</option>
                   <option value="mobi">mobi</option>
                </select>
             </div>)</p>
              {% else %}
              <p></p>
              {% endif %}
            </div>
            <div class="box-two">
              <p class="price">{{currentPrice}}</p>
              <p class="procent">{{currentProcentage}}%</p>

              {% if currentProcentage >= 0 %}
              <img
                class="logo-arrow"
                src=" {{ url_for('static', filename='img/arr_up.png') }}"
                alt=""
              />
              {% else %}
              <img
                class="logo-arrow"
                src=" {{ url_for('static', filename='img/arr_down.png') }}"
              />
              {% endif %}
            </div>
          </div>
          <div class="currencys">
            <p class="currency-title">Cryptocurrencies </p>
            <div class="currency-container">
              {% for el in cryptos %}
              <a href="{{el.name}}">
                <div class="crypto">
                  <img
                    class="crypto_logo"
                    src="{{ url_for('static', filename='img/' + el.name + '.png') }}"
                  />
                  <p class="crypto-price">{{el.price}}</p>
                  <p class="crypto-procent">{{el.percentage}}%</p>
                  {% if el.percentage >= 0 %}
                  <img
                    class="arrow"
                    src=" {{ url_for('static', filename='img/arr_up.png') }}"
                    alt=""
                  />

                  {% elif el.percentage < 0 %}
                  <img
                    class="arrow"
                    src=" {{ url_for('static', filename='img/arr_down.png') }}"
                  />
                  {% endif %}
                </div>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="right">
          <div class="chart" id="bargraph">
            <script type="text/javascript">
              var graphs = {{graphJSON | safe}};
              Plotly.plot('bargraph',graphs,{});
            </script>
          </div>
          <div class="container">
            <div class="exchange"></div>
            <div class="cos"></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
