<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="src/styles/styles.css" />
  </head>
  <body>
    <main class="main">
      <p class="title">CryptoMarket</p>
      <div class="flex-container">
        <div class="left">
          <div class="currency-price">
            <div class="box-one">
              <img src="src/img/btc.png" alt="" />
              <p>Bitcoin (BTC)</p>
            </div>
            <div class="box-two">
              <p class="price">41 774,10$</p>
              <p class="procent">2.6%</p>
              <svg
                class="arrow"
                xmlns="http://www.w3.org/2000/svg"
                width="43.983"
                height="43.983"
                viewBox="0 0 43.983 43.983"
              >
                <path
                  id="Icon_awesome-arrow-up"
                  data-name="Icon awesome-arrow-up"
                  d="M2.454,20.355.893,18.795a1.681,1.681,0,0,1,0-2.384L14.555,2.742a1.681,1.681,0,0,1,2.384,0L30.6,16.4a1.681,1.681,0,0,1,0,2.384l-1.561,1.561a1.689,1.689,0,0,1-2.412-.028l-8.065-8.466V32.063a1.683,1.683,0,0,1-1.687,1.688h-2.25a1.683,1.683,0,0,1-1.687-1.687V11.855L4.866,20.327a1.677,1.677,0,0,1-2.412.028Z"
                  transform="translate(23.584 -1.869) rotate(45)"
                  fill="#988363"
                />
              </svg>
            </div>
          </div>
          <div class="currencys">
            <p class="currency-title">Cryptocurrencies </p>
            <div class="currency-container">
              <div class="crypto">
                <img src="src/img/eth.png" alt="" />
                <p class="crypto-price">3127.26$</p>
                <p class="crypto-procent">2.6%</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="43.983"
                  height="43.983"
                  viewBox="0 0 43.983 43.983"
                >
                  <path
                    id="Icon_awesome-arrow-up"
                    data-name="Icon awesome-arrow-up"
                    d="M2.454,20.355.893,18.795a1.681,1.681,0,0,1,0-2.384L14.555,2.742a1.681,1.681,0,0,1,2.384,0L30.6,16.4a1.681,1.681,0,0,1,0,2.384l-1.561,1.561a1.689,1.689,0,0,1-2.412-.028l-8.065-8.466V32.063a1.683,1.683,0,0,1-1.687,1.688h-2.25a1.683,1.683,0,0,1-1.687-1.687V11.855L4.866,20.327a1.677,1.677,0,0,1-2.412.028Z"
                    transform="translate(23.584 -1.869) rotate(45)"
                    fill="#988363"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="chart"> </div>
          <div class="container">
            <div class="exchange"></div>
            <div class="cos"></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
