<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/0c1bcce4d4.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles.css') }}"
    />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  </head>
  <body>
    <main class="main">
      <p class="title">CryptoMarket</p>
      <div class="flex-container">
        <div class="left">
          <div class="currency-price">
            <div class="box-one">
              <img
                class="logo"
                src=" {{ url_for('static', filename='img/' + crypto + '.png') }}"
                alt=""
              />

              <p
                ><span class="blank">d </span> {{currentName}}
                <span class="blank">d </span></p
              >
              <p>(</p>
              <div class="dropdown">
                <div class="dropdown-select">
                  <span class="select"> Choose</span>
                  <i class="fa fa-caret-down icon"></i>
                </div>
                <div class="dropdown-list">
                  <a href="/USD/{{crypto[: -3]}}USD/7d" class="a-list">
                    <div class="dropdown-list__item">USD</div>
                  </a>
                  <a href="/PLN/{{crypto[: -3]}}USD/7d" class="a-list">
                    <div class="dropdown-list__item">PLN</div>
                  </a>
                  <a href="/EUR/{{crypto[: -3]}}USD/7d" class="a-list">
                    <div class="dropdown-list__item">EUR</div>
                  </a>
                  <a href="/GBP/{{crypto[: -3]}}USD/7d" class="a-list">
                    <div class="dropdown-list__item">GBP</div>
                  </a>
                  <a href="/CHF/{{crypto[: -3]}}USD/7d" class="a-list">
                    <div class="dropdown-list__item">CHF</div>
                  </a>
                </div>
              </div>
              <p>)</p>
            </div>
            <div class="box-two">
              <p class="price">{{currentPrice}}</p>
              <p class="procent">{{currentProcentage}}%</p>

              {% if currentProcentage >= 0 %}
              <img
                class="logo-arrow"
                src=" {{ url_for('static', filename='img/arr_up.png') }}"
                alt=""
              />
              {% else %}
              <img
                class="logo-arrow"
                src=" {{ url_for('static', filename='img/arr_down.png') }}"
              />
              {% endif %}
            </div>
          </div>
          <div class="currencys">
            <p class="currency-title">Cryptocurrencies </p>
            <div class="currency-container">
              {% for el in cryptos %}
              <a href="/PLN/{{el.name}}/7d">
                <div class="crypto">
                  <img
                    class="crypto_logo"
                    src="{{ url_for('static', filename='img/' + el.name + '.png') }}"
                  />
                  <p class="crypto-price">{{el.price}}</p>
                  <p class="crypto-procent">{{el.percentage}}%</p>
                  {% if el.percentage >= 0 %}
                  <img
                    class="arrow"
                    src=" {{ url_for('static', filename='img/arr_up.png') }}"
                    alt=""
                  />

                  {% elif el.percentage < 0 %}
                  <img
                    class="arrow"
                    src=" {{ url_for('static', filename='img/arr_down.png') }}"
                  />
                  {% endif %}
                </div>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="right">
          <div class="chart" id="bargraph">
            <script type="text/javascript">
              var graphs = {{graphJSON | safe}};
              Plotly.plot('bargraph',graphs,{});
            </script>
            <div class="days">
              <a href="7d">
                <p>7d</p>
              </a>
              <a href="6m">
                <p>6m</p>
              </a>
              <a href="1y">
                <p>1y</p>
              </a>
              <a href="5y">
                <p>5y</p>
              </a>
            </div>
          </div>
          <div class="container">
            <div class="exchange"></div>
            <div class="cos"></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
