@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  /* background-color: #333333; */
}
body {
  background-color: #333333;
}
.main {
  height: 100vh;
  background-color: #333333;
}

.dropdown {
  width: 90px;
  position: relative;
}
.dropdown:hover .dropdown-list {
  opacity: 1;
  border-radius: 10px;
  visibility: visible;
}
.dropdown-select {
  padding-top: 7px;
  border-radius: 4px;
  background-color: transparent;
  color: #eee4e4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
}
th {
  border: none;
  text-align: left;
}
td {
  border: none;
}
tr {
  background-color: #312929;
}
tr:nth-child(odd) {
  background-color: #221c1c;
}
.dropdown-list {
  border-radius: 4px;
  background-color: #312929;
  position: absolute;
  width: 140px;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  transform: translateY(10px);
  z-index: 10;
}
.dropdown-list a {
  color: #eee4e4;
}
.dropdown-list:before {
  content: '';
  width: 100%;
  height: 10px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}
.dropdown-list__item {
  padding: 1rem;
  font-size: 1.4rem;
}

.title {
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 4vh 0;
}

.flex-container {
  display: flex;
  width: 92vw;
  margin-left: 6vw;
}

.left,
.right {
  height: 80vh;
  margin: 0 auto;
}

.currency-price,
.currencys,
.chart,
.container {
  background-color: #312929;
  border-radius: 10px;
}

.currency-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25vw;
  height: 17vh;
  margin-bottom: 30px;
}

.box-one {
  display: flex;
  width: 18vw;
  align-self: center;
}

.box-one p {
  padding-top: 5px;
}
.fa-bitcoin {
  font-size: 40px;
  color: #f7931a;
  background-color: #fff;
  border-radius: 30px;
}
.blank {
  font-size: 10px;
  color: #312929;
}
.box-two {
  display: flex;
  align-self: center;
  width: 18vw;
  justify-content: space-around;
}

.box-one p {
  color: #eee4e4;
  font-size: 20px;
}

.box-two .price {
  color: #eee4e4;
  font-size: 36px;
  font-weight: 700;
}

.box-two .procent {
  color: #eee4e4;
  font-size: 18px;
  padding-top: 20px;
}
.logo {
  width: 40px;
}

.currencys {
  width: 25vw;
  height: 68vh;
  overflow: scroll;
  overflow-x: hidden;
  /* height: 58.5vh; */
}
.logo-arrow {
  padding: 20px;
  height: 30px;
}
.arrow {
  height: 30px;
}
.currency-title {
  text-align: center;
  color: white;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 500;
}

.currency-container {
  /* overflow: scroll; */
  height: 400px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
}

.crypto {
  display: flex;
  align-items: left;
  justify-content: space-between;
  margin: 0 auto;
  width: 20vw;
  padding: 10px 0;
}

.crypto .crypto-price {
  width: 100px;
  text-align: left;
  font-size: 24px;
  font-weight: 800;
  color: #eee4e4;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(92, 83, 83);
  border-radius: 10px;
}

.crypto .crypto-procent {
  font-size: 17px;
  font-weight: 500;
  width: 60px;
  text-align: left;
  color: #eee4e4;
}

.crypto_logo {
  width: 50px;
}

.right {
  width: calc(92vw - 20vw);
  /* margin-left: 6vw; */
}
.chart {
  width: 56vw;
  height: 48vh;
  margin: 0 auto;
}

.days {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  width: 56vw;

  background-color: #312929;
  padding-bottom: 30px;
}
.period {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 56vw;
  text-align: left;
  background-color: #312929;
  padding-bottom: 5px;
  padding-top: 30px;
}

.period p {
  width: 60px;
  color: #eee4e4;
}

.days p {
  width: 60px;
  color: #eee4e4;
}

.container {
  width: 56vw;
  height: 23vh;
  margin: 5vw auto;

  display: flex;
}

@media (max-width: 1600px) {
  .currency-price,
  .currencys {
    width: 30vw;
  }
  .box-two,
  .box-one,
  .crypto {
    width: 22vw;
  }
  .currencys {
    height: 65.3vh;
  }

  .chart,
  .container,
  table,
  .days,
  .period {
    width: 50vw;
  }
}

@media (max-width: 1295px) {
  .box-two {
    justify-content: space-around;
  }
  .box-two .price {
    padding-top: 20px;
    font-size: 25px;
  }
  .box-two .procent {
    font-size: 15px;
    padding-top: 30px;
  }
  .arrow {
    padding-top: 18px;
  }
  .crypto .crypto-price {
    font-size: 18px;
  }
  .crypto .crypto-procent {
    font-size: 13px;
  }

  .currency-price,
  .currencys {
    width: 35vw;
  }
  .currencys {
    height: 59vh;
  }
  .box-two,
  .box-one,
  .crypto {
    width: 32vw;
  }
}

@media (max-width: 900px) {
  .box-two .price {
    font-size: 22px;
  }
  .box-two .procent {
    font-size: 12px;
  }
  .arrow {
    padding-top: 18px;
  }
  .crypto .crypto-price {
    font-size: 14px;
  }
  .crypto .crypto-procent {
    font-size: 10px;
  }
  .crypto img {
    width: 40px;
  }
}

@media (max-width: 600px) {
  .flex-container {
    flex-wrap: wrap;
  }
  .currency-price,
  .currencys {
    width: 80vw;
  }

  .box-two,
  .box-one,
  .crypto {
    width: 70vw;
  }

  .main {
    height: 176vh;
  }
  .flex-container {
    margin: 0 auto;
  }

  .right {
    margin-left: 6vw;
  }
  .chart,
  .container {
    width: 80vw;
  }
  .currency-container {
    height: 0vh;
  }
}

.container {
  /* height: 120px; */
  overflow: scroll;
  overflow-x: hidden;
}

table {
  width: 55vw;
  text-align: center;
  color: #ddd2d2;
  border: none;
  padding: 0;
}

th {
  text-align: center;
  /* border: 2px solid rgb(230, 184, 184); */
  padding: 0;
}

td {
  padding: 0;
}

.crypto:hover {
  background-color: #54a9de;
  transition: 0.3s;
}

.bottom {
  display: flex;
  width: 87.5vw;
  margin: 0 auto;
  justify-content: space-between;
}

.predict {
  background-color: #312929;
  width: 38vw;
  height: 14vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.predict-text {
  font-weight: 500;
  font-size: 28px;
  color: #eee4e4;
  text-align: center;
}

.text-color {
  color: #ff0000;
}

.curr-converter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  border-radius: 10px;
  background-color: #312929;
}
.curr-converter img {
  width: 60px;
  margin: 0 1vw;
}

.curr {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #eee4e4;
  border-radius: 20px;
}

.curr p {
  font-size: 30px;
  color: #7d4a4a;
}

.curr input {
  background-color: transparent;
  color: #eee4e4;
  border: none;
  /* font-size: 20px; */
  width: 6vw;
  height: 40px;
}
.curr span {
  font-size: 40px;
  background-color: #707070;
  width: 1px;
  margin: 0 20px;
  height: 40px;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  width: 100%;
  height: 10vh;
  background-color: #312929;
}
.foot p {
  font-size: 20px;
  color: #eee4e4;
}
.exchange-output {
  width: 100px;
  font-size: 20px;
  color: #eee4e4;
}

.curr-price {
  font-size: 20px;
}
